html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
  background-color: #7285a3;
   perspective: 1px;
   transform-style: preserve-3d;
   height: 100%;
   width: 100%;
   overflow-y: scroll;
   overflow-x: hidden;
   z-index: -2;
}

#content {
    max-width: 1080px;
}

/* hide result div initially, required for fade effects */
#diagnosis-result { display:none; }

/* page load animations */
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp.first {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.fadeInUp.second {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1s;
  -moz-animation:fadeIn ease-in 1s;
  animation:fadeIn ease-in 1s;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1ss;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

/* Parallax background */
.parallax-back {
    transform-style: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: url(ai_background_trans.jpg);
    background-size: auto auto;
    background-repeat: repeat
    transform-origin: center center 0;
    transform: translateZ(-4px) scale(5);
    z-index: -1;
    box-shadow: 0 0 25px 25px #7285a3 inset;
}

.parallax-front {
    z-index: 2;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}